body{
  background-color: rgb(29, 26, 5);
  font-family: Trebuchet MS, Arial, sans-serif;
  margin: 0;
}

header{
  background-color: rgb(202, 60, 37);
  margin:0;
  top:0;
  left:0;
  right: 0;
  font-size: 14px;
  position: fixed;
  z-index: 1;
}

ul{
  margin-left: 60px;
}

li{
  display: inline-block;
  padding: 5px;
  list-style: none;
}

a{
  color: rgb(245, 222, 153);
  padding: 5px;
}

a:hover{
  color: rgb(246, 206, 33);
}

/*Estilos para imágenes*/
.contenedor-img{
  position: relative;
  display: inline-block;
  border: 6px solid;
  border-color: gray;
  margin: 0px 10px;
}

img{
  width: 180px;
  height: 150px;
}

.cerrar{
  position: absolute;
  color: white;
  top: 10px;
  left: 5px;
  text-decoration: none;
}

/*Estilos para el menú*/
.box-menu{
  display: inline-block;
  margin: 20px 0px;
}

.menu{
  display: inline-block;
  background-color: rgb(202, 60, 37);
  color: rgb(245, 222, 153);
  margin: 3px 2px;
  width: 300px;
  text-align: center;
}

/*Estilos para los párrafos*/
.info{
  color: rgb(245, 222, 153);
  font-size: 14px;
  width:80%;
  margin: 10px 0px;
}

.p-1, .p-2{
  width: 48%;
  display: inline-block;
  text-align: justify;
  margin: 5px 1px;
}

.p-1{
  float: left;
}

.p-2{
  float: right;
}

.content-total{
  margin: 70px 100px;
}
